body {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.smoothie {
    min-height: 4000px;
    will-change: transform;
}

.scrollbar-track {
    position: fixed;
    top: 0%;
    right: 0;
    width: 100px;
    height: 100%;
    background: lightgray;
}

.scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.scrollbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
    background: yellow;
    z-index: 1;
}