body {
    margin: 0;
    padding: 0;
}

.smoothie-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.nested,
.smoothie {
    min-height: 3000px;
    will-change: transform;
}

.scrollbar-track {
    position: absolute;
    top: 0%;
    right: 0;
    width: 10px;
    height: 100%;
    background: lightgray;
    opacity: 1;
    visibility: visible;
    transition: all 1.5s;
}

.scrollbar-track.is-entering,
.scrollbar-track.is-leaving {
    transform: translate3d(100%, 0, 0);
}

.scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    will-change: transform;
}

.scrollbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2px;
    background: yellow;
    z-index: 1;
}

.nested-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
    overflow: hidden;
    z-index: 0;
    margin: auto;
}

.nested-container .scrollbar-track {
    background: blue;
    z-index: 2;
}

.nested-container .scrollbar::after {
    background: firebrick;
}

#switch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

#enable {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}
