body {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.smoothie {
    min-height: 4000px;
}

.scrollbar-track {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: lightgray;
}

.scrollbar {
    position: absolute;
    width: 100%;
    background: firebrick;
}